<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kyabanet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB13A9D624A2EF610028731D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB13A9EC24A2EF670028731D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB13A9F724A2EF670028731D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
