<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144301504631-676vqq259vcat86ouv8f27pkoq8caq1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144301504631-676vqq259vcat86ouv8f27pkoq8caq1k</string>
	<key>API_KEY</key>
	<string>AIzaSyCerZaIZtWE0Wc9ntoiVgyEBP6hgp9yfTI</string>
	<key>GCM_SENDER_ID</key>
	<string>144301504631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zed.kyabanet</string>
	<key>PROJECT_ID</key>
	<string>new-hostess-app</string>
	<key>STORAGE_BUCKET</key>
	<string>new-hostess-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144301504631:ios:7b0bd8b41e00549350ee72</string>
</dict>
</plist>